* {
  padding: 0;
  margin: 0;
}
body,
html {
  font-size: 10px;
  background-color: #f6c4a3;
}
#title {
  text-align: center;
  font-size: 1.7rem;
  font-family: roboto;
  padding-top: 5em;
}
#main {
  max-width: 560px;
  margin: 0 auto;
  background-color: wheat;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2rem;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 20px;
  border: 2px solid black;
  margin-bottom: 1em;
  box-shadow: 3px  3px 5px #d35c0d;
}
header {
  position: fixed;
  font-family: "Bebas Neue", cursive;
  font-size: 4.5em;
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: 3px solid white;
}
#tribute-info,
figure,
footer {
  font-family: roboto, sans-serif;
  text-align: center;
}
ul {
  text-align: justify;
  font-size: 2em;
}
li {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
#img-caption {
  font-size: 1.5em;
}
p {
  font-size: 1.55rem;
  border-bottom: 2px solid black;
  padding-bottom: 1em;
}
footer{
    font-size:1.5rem;
    margin-top: 2rem;
}
#copyright{
  margin-top:2rem;
}
a{
  text-decoration: none;
}